/* General styling for the form container */
.formContainer {
    width: 100%;
    max-width: 600px; /* Aumentar el ancho máximo */
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the form title */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}
 
/* Styling for each input group */
.formGroup {
    margin-bottom: 1.5rem; /* Aumentar el margen inferior para mayor separación */
}

/* Styling for labels */
.formGroup label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #555;
    text-align: center; /* Centrado de los labels */
}

/* Styling for text inputs and selects */
.formGroup input,
.formGroup select {
    width: 100%;
    padding: 0.75rem; /* Aumentar el padding para mayor comodidad */
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto; /* Centrado horizontal */
    display: block;
}

/* Styling for the submit button */
.submitButton {
    display: block;
    width: 30%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for the submit button */
.submitButton:hover {
    background-color: #0056b3;
}

/* Styling for input focus */
input:focus,
select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Responsive styling */
@media (max-width: 600px) {
    .formContainer {
        padding: 1rem 0.5rem;
    }

    .submitButton {
        padding: 0.5rem;
    }
}
