.home {
    position: relative; /* Cambiado a relative para que el video pueda posicionarse correctamente */
    width: 100vw; /* Cubre todo el ancho de la pantalla */
    height: 100vh; /* Cubre toda la altura de la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Evita que el contenido se desborde */
}

.background-video {
    position: absolute; /* Posiciona el video en el fondo */
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Asegúrate de que el video esté detrás del contenido */
    transform: translate(-50%, -50%); /* Centra el video en la pantalla */
}

.letra {
    color: #f7f8f6ed; 
    font-size: 2em; 
    text-align: center; 
    margin-top: 20px; 
}

.container {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* Asegura que el contenido esté en el contexto correcto */
    z-index: 1; /* Mantiene el contenido por encima del video */
}
