/* Estilo general del contenedor */
.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center; 
  background-color: #f5f6fa;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}
/* Estilo del formulario */
.form {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  width: 100%; 
  max-width: 800px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* Grupo de formularios */
.formGroup {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Etiquetas */
.label {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

/* Campos de entrada */
.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fffbfb;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  margin-bottom: 10px;
}

.input:focus {
  outline: none;
  border: 1px solid #4caf50;
  box-shadow: 0px 0px 4px rgba(76, 175, 80, 0.5);
}

/* Botón de enviar */
.button {
  --glow-color: rgb(57, 34, 95);
  --glow-spread-color: rgba(33, 171, 166, 0.781);
  --btn-color: rgba(38, 47, 89, 0.508);
  border: 0.25em solid var(--glow-color);
  padding: 1em 2em;
  color: var(--glow-color);
  font-size: 14px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.05em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--glow-color);
  color: var(--btn-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Esto ya alinea los elementos a la izquierda */
  width: 100%;
}

.title {
  font-size: 1.8rem;
  color: rgb(9, 9, 9);
  text-align: center;
  flex-grow: 1;  /* Esto asegura que el título ocupe todo el espacio disponible */
  margin-left: 20px;
}

.backButton {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.backButton:hover {
  color: #0056b3;
}



/* Estilo para mensajes de error */
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: -8px;
}
